h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.col {

    /* background-color: aqua; */
    border: 4px solid black;
}

.row {
    /* align-content: center;
    justify-content: center;
    margin: auto; */
    text-align: center;
    background-color: whitesmoke;
    /* border: 6px dashed orange; */
    height: 18vh;
}

.pic-row {
    height: 55vh;
}

.scoreboard {
    height: 8vh;
}

.container {
    align-items: center;
    margin: auto;
}

.pic {
    box-shadow: 16px 16px;
    border: 3px solid black;
    padding: 5px;
    background-color: darkcyan;
}

.pic-card {
    
}

.card-row {
    height: 45vh;
}

.control-row{
    height: 25vh;
}

.chat-log {
    height: 25vh;
    text-align: left;
    bottom: 0;
}

.menu {
    border: 4px dashed black;
    height: 100%;
}

.menu-row {
    height: 100%;
    border: 4px solid blue;
} 


@media screen and (max-height: 420px) {
    body {
      background-color: lightgreen;
    }

    .row {
        background-color: red;
    }

    .card-row {
        height: 25vh;
    }

    .pic {
        width: 50%;
    }

    .pic-col {
        border: 4px dashed brown;
        height: 100%;
    }

    .pic-row {
        height: 40vh;
    }

    .menu {
        overflow: scroll;
    }

    .score-row{
        height: 50vh;
    }
  }